[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = master
[submodule "moodle/mod/bigbluebuttonbn"]
	path = moodle/mod/bigbluebuttonbn
	url = https://github.com/blindsidenetworks/moodle-mod_bigbluebuttonbn.git
	branch = v2.3-stable
[submodule "moodle/mod/hvp"]
	path = moodle/mod/hvp
	url = https://github.com/h5p/h5p-moodle-plugin.git
	branch = stable
[submodule "moodle/question/type/coderunner"]
	path = moodle/question/type/coderunner
	url = https://github.com/trampgeek/moodle-qtype_coderunner.git
	branch = master
[submodule "moodle/question/behaviour/adaptive_adapted_for_coderunner"]
	path = moodle/question/behaviour/adaptive_adapted_for_coderunner
	url = https://github.com/trampgeek/moodle-qbehaviour_adaptive_adapted_for_coderunner.git
	branch = master
[submodule "moodle/lib/editor/atto/plugins/cloze"]
	path = moodle/lib/editor/atto/plugins/cloze
	url = https://github.com/dthies/moodle-atto_cloze.git
	branch = master
